<p>Your Order Request has been received!</p>
    <h3>Order Details</h3>
    <ul>
      <li>Customer Name: {{name}}/li>
      <li>Email: {{email}}</li>
      <li>Address: {{address}}</li>
      <li>Order ID: {{orderID}}</li>
      <li>Product ID: {{productID}}</li>
      <li>Quantity: {{quantity}}</li>
    </ul>