<div class="container">
	<div class="jumbotron mt-2">
		<h1 align="center">Customers</h1>
		<div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
			<table style="width:100%" class="table table-sm">
				<tr>
					<th>Email Address</th>
					<th>Name</th>
				</tr>
				{{#each data}}
				<tr>
					<td>
						{{this.email}}
					</td>
					<td>
						<a href="/admin/customers/{{this.id}}">
							{{this.first_name}} {{this.last_name}}
						</a>
					</td>
				</tr>
				{{/each}}
			</table>
			<center>
  			<h5>
          Page {{page}}
        </h5>
        <h5>
          {{#each pages}}
          - <a href="/admin/customers/page/{{this}}">{{this}}</a>
          {{/each}}
          -
        </h5>
        <h5>
          {{#if prevPage}}
          <a href="/admin/customers/page/{{prevPage}}">Previous</a>
          {{/if}}
          {{#if nextPage}}
          <a href="/admin/customers/page/{{nextPage}}">Next</a>
          {{/if}}
        </h5>
      </center>
		</div>
	</div>
</div>