<div class="container">
	<div class="jumbotron mt-2">
		<div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
			<div class="card bg-secondary text-light center">
			<h3 class="mt-3 text-center">Name: {{first_name}} {{last_name}}</h3>
				<div class="card-body">
					<h5 class="card-title">Customer ID: {{customer_id}}</h5>
					<h5 class="card-title">Email: {{email}}</h5>
					<h5 class="card-title">Address: {{street}} {{municipality}} {{province}} {{zipcode}}</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron jumbotron-fluid mt-2">
		<h5 align="center">Orders</h5>
		<div class="col-lg-12 col-md-12 col-sm-12 mb-2 mx-auto">
			<table style="width:100%" class="table table-sm">
				<tr>
					<th>Order ID</th>
					<th>Order Date</th>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Quantity</th>
				</tr>
				{{#each data}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.order_date}}</td>
					<td>{{this.product_id}}</td>
					<td>{{this.product_name}}</td>
					<td>{{this.quantity}}</td>
				</tr>
				{{/each}}
			</table>
		</div>
	</div>
</div>