<div class="container">
  <div class="jumbotron mt-2">

    <h3 align="center">Top 10 Customers With The Most Number Of Orders</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <table style="width:80%" class="table table-sm mx-auto">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Number of Orders</th>
            </tr>
            {{#each topTenCustomersWithMostOrders}}
            <tr>
              <td>
                {{!-- <a href="/admin/customers/{{this.id}}">
                </a> --}}
                {{this.first_name}} {{this.last_name}}
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                {{this.number_of_orders}}
              </td>
            </tr>
           {{/each}}
          </table>
        </div>
      </div>

    <h3 align="center">Top 10 Customers With Highest Payment</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <table style="width:80%" class="table table-sm mx-auto">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Total Payment</th>
            </tr>
            {{#each topTenCustomersWithHighestPayment}}
            <tr>
              <td>
                {{this.first_name}} {{this.last_name}}
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                ₱ {{this.total_payment}}
              </td>
            </tr>
           {{/each}}
          </table>
        </div>
      </div>

    <h3 align="center">Top 10 Most Ordered Products</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <table style="width:80%" class="table table-sm mx-auto">
            <tr>
              <th>Product Name</th>
              <th>Number of Orders</th>
            </tr>
            {{#each topTenMostOrderedProducts}}
            <tr>
              <td>
                  {{this.product_name}}
              </td>
              <td>
                {{this.number_of_orders}}
              </td>
            </tr>
           {{/each}}
          </table>
        </div>
      </div>

      <h3 align="center">Top 10 Least Ordered Products</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <table style="width:80%" class="table table-sm mx-auto">
            <tr>
              <th>Product Name</th>
              <th>Number of Orders</th>
            </tr>
            {{#each topTenLeastOrderedProducts}}
            <tr>
              <td>
                  {{this.product_name}}
              </td>
              <td>
                {{this.number_of_orders}}
              </td>
            </tr>
           {{/each}}
          </table>
        </div>
      </div>

      <h3 align="center">Top 3 Most Ordered Brands</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <table style="width:80%" class="table table-sm mx-auto">
            <tr>
              <th>Brand Name</th>
              <th>Number of Orders</th>
            </tr>
            {{#each topThreeMostOrderedBrands}}
            <tr>
              <td>
                  {{this.brand_name}}
              </td>
              <td>
                {{this.number_of_orders}}
              </td>
            </tr>
           {{/each}}
          </table>
        </div>
      </div>

      <h3 align="center">Top 3 Most Ordered Categories</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <table style="width:80%" class="table table-sm mx-auto">
            <tr>
              <th>Brand Name</th>
              <th>Number of Orders</th>
            </tr>
            {{#each topThreeMostOrderedCategories}}
            <tr>
              <td>
                  {{this.category_name}}
              </td>
              <td>
                {{this.number_of_orders}}
              </td>
            </tr>
           {{/each}}
          </table>
        </div>
      </div>

      <h3 align="center">Total Sales</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <table style="width:80%" class="table table-sm mx-auto">
            <tr>
              <th>For the Last 7 Days</th>
              <th>For the Last 30 Days</th>
            </tr>
            {{#each totalSalesInTheLastSevenDays}}
            <tr>
              <td>
                ₱ {{this.total_sales_for_seven_days}}
              </td>
           {{/each}}
           {{#each totalSalesInTheLastThirtyDays}}
              <td>
                ₱ {{this.total_sales_for_thirty_days}}
              </td>
            </tr>
           {{/each}}
          </table>
        </div>
      </div>

      <h3 align="center">Total Orders for 7 Days</h3>
      <div class="col-lg-8 col-md-8 col-sm-8 mb-2 mx-auto">
        <div class="card bg-secondary text-light center">
          <table style="width:80%" class="table table-sm mx-auto">
            <tr>
              <th>Total Orders</th>
            </tr>
            {{#each dailyOrderCountForSevenDays}}
            <tr>
              <td>
                {{this.total_orders}}
              </td>
            </tr>
           {{/each}}
          </table>
        </div>
      </div>

  </div>
</div>