<div class="container">
	<div class="jumbotron jumbotron-fluid mt-2">
		<h1 align="center">Orders</h1>
		<div class="col-lg-12 col-md-12 col-sm-12 mb-2 mx-auto">
			<table style="width:100%" class="table table-sm">
				<tr>
					<th>Order ID</th>
					<th>Customer ID</th>
					<th>Product ID</th>
					<th>Order Date</th>
					<th>Quantity</th>
				</tr>
				{{#each data}}
				<tr>
					<td>{{this.id}}</td>
					<td>{{this.customer_id}}</td>
					<td>{{this.product_id}}</td>
					<td>{{this.order_date}}</td>
					<td>{{this.quantity}}</td>
				</tr>
				{{/each}}
			</table>
			<center>
  			<h5>
          Page {{page}}
        </h5>
        <h5>
          <a href="/admin/orders/page/1">1</a> -
          <a href="/admin/orders/page/2">2</a> -
          <a href="/admin/orders/page/3">3</a>
        </h5>
      </center>
		</div>
	</div>
</div>